body {
	background-color: #2ecc71;
}

/* Navbar */
.logo {
	font-family: 'Open Sans', sans-serif;
}

#results {
	position: absolute;
	background-color: #fff;
	display: none;
	width: 100%;
}

/* Hero */
.heroPlayerImage {
	background-color: rgba(0,0,0,0.8);
	overflow: hidden;
}

.heroPlayerName {
	background-color: rgba(0,0,0,0.8);
	display: flex;
	align-items: center;
}

img.thumbNail {
	filter: contrast(120%) brightness(130%) saturate(115%);
	height: 60px;
	width: 40px;
	border: 3px solid #ffffdf;
	margin: 3px 10px 3px 3px;
	display: none;
	object-fit: cover;
	object-position: 0 0;
}

/* Keep award icons from disappearing in table cells */
img {
	min-width: 16px;
}

td {
	white-space: nowrap;
}

/* Player pages */
.cardFrame {
	background-color: #ffffdf;
	background-size: cover;
	padding: 10px;
	margin: auto;
	width: 180px;
	height: 260px;
	border: 1px solid #000;
	box-shadow: 2px 2px 3px rgba(10, 10, 10, 0.3);	
	position: relative;
}

.cardFrame::before {
    background: url(../img/dust.png);
    position: absolute;
	content: "";
    left: 0px;
    top: 0px;
	bottom: 0px;
	right: 0px;
    opacity: 0.4;
	z-index: 1;
}

img.cardImg {
	filter: contrast(120%) brightness(130%) saturate(115%);
	border: 2px solid #000;
	object-fit: cover;
	object-position: 0 0;
	width: 160px;
	height: 200px;
	display: block;
}


.cardCaption {
    text-align: center;
	line-height: 25px;
	height: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 6;
	text-transform: uppercase;
	color: #ffffdf;
	text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.9);
	background-color: #2980b9;
	white-space: nowrap;
	border: 2px solid #000;
	border-top-style: none;
}

/* Table sort icons */
table.js-sort-table thead tr > th:not(.js-sort-none) {
    cursor:pointer;
	padding-left: 3px;
}

table.js-sort-table thead tr > th:not(.js-sort-none)::after{
    content:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==);
}
table.js-sort-asc thead tr > .js-sort-active:not(.js-sort-none)::after{
    content:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==);
}
table.js-sort-desc thead tr > .js-sort-active:not(.js-sort-none)::after{
    content:url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);
}


/* Footer */

.narrowcolumn {
	display: none;
}

.has-text-light a:hover {
	color: #3273dc;
}
